    <form>
        <div class="ngdialog-message">
            <h3>Sort Rows</h3>
            <div class="ngdialog-input">
                <label>名称：</label>
                <input type="text" ng-model="etlOptInfo[optInfo.key].name" />
            </div>
            <table ng-table="" class="table">
                <tr ng-repeat="it in etlOptInfo[optInfo.key].fields">
                    <td data-title="'字段名'">
                        <span>{{it.field_name}}</span>
                    </td>
                    <td data-title="'排序方式'" width="100">
                        <span ng-if="!it.$edit">{{it.ascend}}</span>
                        <div ng-if="it.$edit">
                            <select ng-model="it.ascend">
                                <option value="asc" ng-selected = "it.ascend == 'asc'">asc</option>
                                <option value="desc" ng-selected = "it.ascend == 'desc'">desc</option>
                            </select>
                        </div>
                    </td>
                    <td data-title="'操作'" width="100">
                        <a ng-if="!it.$edit" href="" class="btn btn-default btn-xs" ng-click="it.$edit = true">编辑</a>
                        <a ng-if="it.$edit" href="" class="btn btn-primary btn-xs" ng-click="it.$edit = false">保存</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">取消</button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="save()">确定</button>
        </div>
    </form>
